


* {
    box-sizing: border-box;
}

body {
   
    transition: overflow-y 0.3s ease; /* Transição suave ao ativar o scroll */
    color: white;
    display: flex;
    min-height: 100vh;
    background-color: var(--cor_principal);
    
}


body::-webkit-scrollbar {
    width: 5px; /* Largura do scroll */
}
body::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do scroll */
    border-radius: 10px;
}
body::placeholder {
    color: #aaa;
}

.corpo {
    width: 100%;
    height: 100%;
    padding: 5px 20px 20px 0px;
    
    z-index: 1;
    padding-left: calc(92px + 20px);
  
}

/*Body*/

.text_inq {
    margin: 8px;
    font-size: 12px;
}

.text_inq i {
    font-size: 22px;
    padding: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid rgb(243, 243, 243);
}






.vertical-line {
    width: 100%;
    height: 1.7px;
    background-color: rgb(255, 255, 255);
    margin-top: 35px;
}



.container_log {
    border-radius: 10px;
    padding: 20px;
    margin-top: 1%;
    transform: translate(50%);
    display: flex;
    width: 50%;
    background-color: var(--cor_principal2);
}

.infos i {
    margin-right: 10px;
}

.infos h1 {
    
    padding: 10px ;
    border-radius: 10px;
    font-size: 24px;
    width: 70%;
}

.infos h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 10px 10px 10px 0px;
}

.infos p {
   
    font-size: 14px;
    font-weight: normal;
   
}
/**/


.inputs {
  
    padding: 8px 10px 10px 0px;
}
.inputs h3{
  
   padding-bottom: 5px;
   padding-top: 12px;
    font-size: 16px;
    font-weight:bold;
    color: var(--cor_segundaria);
}
.inputs input{

    color: var(--cor_segundaria);
    border-radius: 10px;
    height: 35px;
    width: 95%;
    border: none;
    background-color: var(--cor_principal2);
}

.inputs input[type="text"] {
    padding: 10px;
}
.inputs input[type="number"] {
    padding: 10px;
}
.inputs input[type="date"] {
    padding: 10px;
}



.links h3{
    font-size: 16px;
}

.links ul {
    margin-top: 3px;
    list-style-position: inside; /* Mantém a bolinha dentro do container */
   
}
.links li {
    color: rgb(0, 195, 255);
    margin-bottom: 4px; /* Espaçamento entre os itens da lista */
}










/*Desc Side */


.desc_side h3 {
    
   padding-bottom: 5px;
   padding-top: 12px;
    font-size: 16px;
    font-weight:bold;
    color: var(--cor_segundaria);
}


textarea {

    width: 100%;
    height: 88%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #3a3a3c;
    color: #fff;
    resize: none;
    font-size: 16px;
    box-sizing: border-box; /* Inclui o padding dentro da largura */
   

    overflow-y: hidden; /* Esconde o scroll por padrão */
            transition: overflow-y 0.3s ease; /* Transição suave ao ativar o scroll */
}

textarea:focus {
    overflow-y: auto; /* Mostra o scroll ao focar no input */
}
textarea::-webkit-scrollbar {
    width: 4px; /* Largura do scroll */
}
textarea::-webkit-scrollbar-thumb {
    background-color: #c9c9c9; /* Cor do scroll */
    border-radius: 10px;
}

textarea::placeholder {
    color: #aaa;
}

.desc_side button {
    float: right;
    font-size: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    
    background-color: rgb(196, 196, 196);
}












.image-container img {
    margin-top: 2%;
    width: 100px;
    
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}











table {
    margin-top: 3%;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--cor_principal2);
}

table tbody tr:nth-child(odd) {
    background-color: var(--cor_principal2); /* Cor das linhas ímpares */
}

table tbody tr:nth-child(even) {
    background-color: var(--cor_principal3); /* Cor das linhas pares */
}


table thead {
    
    background-color: rgb(0, 0, 0);
}

table thead th {
    
    padding: 10px;
    text-align: left;
    font-size: 18px;
    border-bottom: 2px solid rgb(0, 0, 0);
}


table tbody tr {
    border-bottom: 1px solid rgb(106, 106, 106);
}


table tbody td {
    
    padding: 15px;
    font-size: 15px;
}

table tbody tr:hover {
 
    background-color: rgba(127, 127, 127, 0.814);
}

table tbody td button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

table tbody td button i {
    
    font-size: 16px;
}